<h1>events</h1>

<div class="row marketing">
  <div class="form-group col-md-12" style="display:inline;">
    <div class="input-group">
      <input class="form-control" placeholder="What are searching for?"
             type="text" ng-model="search" ng-change="change()">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
  </div>

<div ng-if="events" class="row marketing events">
  <div ng-repeat="event in events" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p> <strong>ID: </strong>{{ event.id }} </p>
        <p> <strong>User: </strong>{{ event.user }} </p>
        <p> <strong>Event: </strong>{{ event.name }} </p>
        <p> <strong>Date: </strong>{{ event.date | date:"dd.MM.yyyy"}} </p>
        <div ng-if="event.eventItems">
          <div ng-repeat="eventItem in event.eventItems">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!events" class="row marketing empty">
  <div class="alert alert-danger" role="alert">
    No results found! :(
  </div>
</div>